[2014-12-04 14:31] kytrinyx opened #1 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

---

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes how all the language

[2015-03-16 13:06] kytrinyx opened #3 "Add helpful information to the SETUP.md"
The contents of the SETUP.md file gets included in
the README.md that gets delivered when a user runs the `exercism fetch`
command from their terminal.

At the very minimum, it should contain a link to the relevant
language-specific documentation on
[help.exercism.io](http://help.exercism.io).

It would also be useful to explain in a generic way how to run the tests.
Remember that this file will b

[2015-04-23 03:17] kytrinyx opened #8 "Launch planning"
_Note: the launch checklist was woefully outdated, since this got created over two years ago, so I deleted it._

We have a launch guide that we'll keep up to date with changes here: https://github.com/exercism/docs/blob/master/language-tracks/launch/README.md

[2016-01-21 00:56] kytrinyx opened #13 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-04-07 02:48] kytrinyx opened #14 "binary: improve tests for invalid numbers"
We should have separate tests for:

- alphabetic characters at the beginning of a valid binary number
- alphabetic characters at the end of a valid binary number
- alphabetic characters in the middle of an otherwise valid binary number
- invalid digits (e.g. 2)

If the test suite for binary has test cases that cover these edge cases, this issue can safely be closed.

See https://github.com/exercis

[2016-07-17 01:11] kytrinyx commented on #14
Closing. https://github.com/exercism/x-common/issues/279

[2016-07-17 01:11] #14 closed

[2016-08-18 20:57] kytrinyx opened #16 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-10-22 16:34] #13 closed

[2016-10-24 02:40] snahor opened #32 "Proposal"
The existing exercises run against `example.sml`, they should do it against the implementation in another file. Taking this into account and taking as reference some of the other repos, I suggest this structure:

[code]

Or if we want to have more examples (like Haskell):

[code]

The `{exercise name}.sml` file should contain the function type and args types:

[code]

If someone tries to run the t

[2016-10-25 03:12] mcmillhj commented on #32
@snahor This is really cool! I like the idea of adding more consistency to this track. Since I have been mostly working on this track alone and am not an expert with SML I was kind of doing just the minimum effort. That being said, everything you pointed out is spot on and seeing it laid out like this just points out how lazy I was being :frowning:

[2016-10-25 21:56] snahor commented on #32
@mcmillhj don't be too hard on yourself, after all you started from nothing. If more people contribute to this repo we'll have more ideas on how to improve this.

[2016-10-26 14:10] mcmillhj commented on #32
Thanks :) I will draft some PRs that work toward the goal you have proposed.

[2016-11-20 15:33] kytrinyx opened #34 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-24 17:10] kytrinyx commented on #34
This rates as *orphaned*.

[2016-11-24 17:10] #34 closed

[2016-11-25 22:07] kytrinyx commented on #32
I'm late to the party, but wanted to say that I really like where this is going. Thanks @mcmillhj and @snahor for taking the time to dig into this so deeply.

[2016-12-16 18:46] kytrinyx opened #35 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2016-12-30 20:05] mcmillhj commented on #32
Been super busy of late, but I am finally going to have time for this over the next few days.

[2016-12-30 20:38] mcmillhj commented on #32
One interesting thing that I just encountered, is how should we handle functions that take multiple arguments in `run_tests`. The exercises anagram, accumulate, and allergies all take 2 arguments. Other unimplemented exercises might take 2 or more arguments.

[2017-04-04 16:00] kytrinyx opened #37 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 19:29] kytrinyx commented on #37
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-06-16 15:17] kytrinyx commented on #8
@snahor @mcmillhj I can't see that I've invited you to maintain the track—which is a travesty. You should both have commit on this! Let me know if it's OK to add you.

[2017-06-16 16:33] kytrinyx commented on #8
Oh. Hah. I seem to have discovered this last week as well: https://github.com/exercism/xsml/pull/36 My brain is having trouble containing all the things.

[2017-06-16 16:34] snahor commented on #8
Hey @kytrinyx good to hear from you! Sure, add me, I'll be more than happy to help.

[2017-06-16 17:20] kytrinyx commented on #8
Fantastic! I've invited you both. I'm going to take a look at the existing PRs to see if I can help clean up a bit.

[2017-06-16 17:21] kytrinyx commented on #8
(that was quick) - it looks like you've got this under control. Let me know if I can help resolve conflicts or anything.

[2017-06-27 03:49] snahor opened #46 "Write a generator"
It should do the following things:
- given the ~~name~~ slug of an exercise, create a skeleton (we should discuss this):
[code]
- fetch `canonical-data.json` (if it exists)
- generate the test cases (we should discuss this too)

This will be helpful for new contributors.

Some exercises may be too complex for a script like this. So far, I haven't found one yet.

R https://github.com/exercism/discu

[2017-06-27 04:17] snahor commented on #16
These changes were merged.

[2017-06-27 04:17] #16 closed

[2017-06-27 04:20] snahor opened #47 "Write a test lib or find one"

[2017-07-10 04:58] #37 closed

[2017-07-18 00:24] #1 closed

[2017-07-18 00:24] #32 closed

[2017-08-23 09:43] #47 closed

[2017-08-23 09:43] #46 closed

[2017-08-24 06:19] snahor opened #70 "Update exercises: README.md"
Update `README.md` in these exercises:

- [x] accumulate
- [x] allergies
- [x] anagram
- [x] flatten-array
- [x] hamming
- [x] nth-prime
- [x] raindrops

**Note:** you will need to clone `problem-specifications`.

Example:

[code]

[2017-08-24 19:14] snahor opened #72 "Identify core exercises"
o far we have 3 core exercises:

- `hello-world`
- `two-fer`
- `leap`

 and we need at least 8 (IIRC).

Candidates from the existing ones:
- `bob`
- `atbash-cipher`
- `allergies`
- `accumulate`
- `flatten-array`
- `difference-of-squares`
- `hamming`
- `prime-factors`
- `allergies`
- `pangram`
- `raindrops`
- `sum-of-multiples`

I checked other repos (fsharp, java and ecmascript) and collected thes

[2017-08-27 14:41] mcmillhj commented on #72
We also have `flatten-array` and `difference-of-squares` currently.

[2017-09-03 20:56] kytrinyx commented on #8
I've updated this issue to contain a link to the new launch guide.

[2017-09-16 01:05] #35 closed

[2017-09-16 01:05] #3 closed

[2017-09-29 00:05] dwschrashun opened #78 "python dependencies unclear"
When attempting to generate new README.md and test.sml files, running into errors with missing python libraries. It is unclear to me based on current documentation what python libraries / versions are necessary to successfully run the bin/generate command for an exercise.

library error examples:
- missing pathlib module
- missing request module

[2017-09-29 01:22] snahor commented on #78
Oh, my bad, forgot to add that info. Please check #79.

[2017-09-29 13:41] dwschrashun commented on #78
Great, thanks!

[2017-09-29 13:41] #78 closed

[2017-09-30 12:45] snahor opened #80 "Update exercises: test.sml"
The following exercises need to be updated:

- [x] accumulate
- [x] allergies
- [x] anagram
- [x] flatten-array
- [x] hamming
- [x] nth-prime
- [x] raindrops

Instructions:

To generate `test.sml`
[code]

**Notes:**
- The generator will overwrite `testlib.sml`, `test.sml`, `example.sml` and `{exercise}.sml`.
- Update`example.sml` and `{exercise}.sml` if needed.

[2017-10-07 21:49] hanjiexi commented on #80
I attempted to run:
[code]
But this produced:
[code]
My sml and problem-specifications repos are both fully up to date, so I'm not sure what's going on. I see that this error message came from line 61 of bin/generate, inside the `sml_type` function.

[2017-10-08 02:41] mcmillhj commented on #80
The generator likely won't work 100% of the time due to type mismatches or the canonical-data.json file not existing. In these cases the files will have to be created manually.

[2017-10-08 18:59] mcmillhj commented on #80
You could leave that one to us if you are unsure how to proceed, or you can push a PR for it and we can give feedback. Feel free to let me know if you have specific questions.

[2017-10-09 02:10] hanjiexi commented on #80
Thanks for the clarification, for now I'll leave that one to you. But if I change my mind I'll post here again to let people know that it's being worked on.

[2017-10-09 15:41] #80 closed

[2017-10-09 18:38] snahor commented on #80
@hanjiexi I've updated the generator https://github.com/exercism/sml#generator, it could help you the next time.

[2017-10-15 04:20] #70 closed

[2018-02-04 20:56] kytrinyx opened #94 "bob: Update to clarify ambiguity regarding shouted questions"
**TL;DR**: the problem specification for the Bob exercise has been updated. Consider updating the test suite for Bob to match. If you decide not to update the exercise, consider overriding description.md.

-----

**Details**

The problem description for the Bob exercise lists four conditions:

- asking a question
- shouting
- remaining silent
- anything else

There's an ambiguity, however, for sho

[2018-02-04 22:29] kytrinyx commented on #94
I've submitted a PR to temporarily lock the description of 'bob' so that we can regenerate the exercise READMEs without worrying about getting an out-of-sync description.

This means that the exercises/bob/.meta/description.md file will need to be deleted if the test suite is updated to include the new rule.

[2018-04-13 00:09] #94 closed

[2018-06-02 23:01] kytrinyx opened #97 "Where are the Standard ML communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-12 02:51] kytrinyx opened #99 "Ensure Standard ML track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/sml
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
- [x] Th

[2018-06-20 15:10] jackhughesweb commented on #99
Things which can already be checked off:

Things which need to be completed:
- Update the about section to be more friendly and colloquial, and follow the new formatting guidelines
- Add topics to all exercises
- Add difficulties to all exercises

[2018-08-03 16:14] jackhughesweb opened #102 "Fix getting started instructions for sml"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-06 08:55] jackhughesweb commented on #99
@snahor There isn't an exact criteria for difficulty, but the docs describe it as "a rough estimate of the difficulty level of the exercise on a scale of 1 to 10"

[2018-08-10 09:51] jackhughesweb commented on #102
Closing this issue, as I did not find any broken links to the Exercism website in this repo

[2018-08-10 09:51] #102 closed

[2018-08-19 18:58] kytrinyx opened #104 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-08-19 22:01] snahor commented on #104
We are only printing the version as a comment when we generate the test file.

[2018-08-19 22:01] #104 closed

[2018-09-10 14:05] sshine commented on #97
Hello @kytrinyx!
Cc @snahor

I've signed up as mentor on this track.

TL;DR: The only place on the Internet where I've found Standard ML to be alive is on StackOverflow. There's an [abundance of people](https://stackoverflow.com/tags/sml/topusers) willing to answer the very few questions that get asked. I don't expect the need for a lot of mentors, but there might be ones willing there.

Since I'm

[2018-09-11 02:16] kytrinyx commented on #97
This is excellent, thank you!

Brilliant! I've invited you to be a maintainer on this repository, and if you'd also like to be added to OCaml, I'd gladly add you there as well.

[2018-09-11 14:14] sshine commented on #97
Sure, I'd like that.

[2018-09-11 15:55] mcmillhj commented on #97
@kytrinyx Since we are doing role updates, would it be possible to remove me as a maintainer? I just haven't had the time lately to add beneficial contributions.

[2018-09-12 21:46] kytrinyx commented on #97
@mcmillhj Indeed! I'll do this now. (Do you want to submit a PR that sets yourself as `alumni` in https://github.com/exercism/sml/blob/master/config/maintainers.json?)

[2018-09-17 15:26] sshine opened #106 "Add `acronym` exercise"
- [x] Write exercise README, example, tests.
- [x] Update config.json using the configlet program.

[2018-10-01 13:07] mcmillhj commented on #97
@kytrinyx definitely! I'll do that now.

[2018-10-13 10:51] sshine commented on #97
@mcmillhj: Thanks for making the language track so pleasant to take over!

I'll close this issue as there isn't a mentor bottleneck for this track.

[2018-10-13 10:51] #97 closed

[2018-10-15 16:27] sshine opened #110 "Improve and distribute epsilon-delta test function across exercises"
Before 4c5fd1db1ae73d2bef7d9d12256a59d5fc4597a5, no tests used `Expect.nearTo`. Since [the canonical test data](https://github.com/exercism/problem-specifications/blob/master/exercises/space-age/canonical-data.json) expresses expected values with some unknown imprecision (e.g. `31.69` when the result is `31.68808781`), it is up to the language track to make test cases succeed correctly and meaning

[2018-10-15 17:18] sshine opened #111 "Replace {exercise} stub in READMEs across exercises"
Currently, all `README.md` files have something like:

    ## Loading your exercise implementation in PolyML

[code]

    Or:

[code]

    **Note:** You have to replace {exercise}.

Replace `{exercise}` with the actual exercise name and remove the Note for [all exercises](https://github.com/exercism/sml/tree/master/exercises).

[2018-10-19 16:16] snahor opened #114 "Add forth exercise"

[2018-10-22 06:15] #106 closed

[2018-11-20 14:34] sshine commented on #114
Have you progressed with this exercise?

Looking at the OCaml and Haskell versions, it seems quite large.

Especially when you don't have access to parser combinators and state monads.

[2019-04-22 10:52] petertseng opened #120 "bracket-push: renamed to matching-brackets"
In https://github.com/exercism/problem-specifications/pull/1501, bracket-push was renamed to matching-brackets in problem-specifications, therefore it is recommended that this track (which has the bracket-push exercise) also renames it.

The reasons for this recommendation:

* to name the exercise by its story, not by what it potentially teaches
* to avoid unnecessarily biasing the solution space

[2019-08-03 18:20] kytrinyx opened #123 "Create stub files for all exercises"
We have decided to require all file-based tracks to provide stubs for their exercises.

The lack of stub file generates an unnecessary pain point within Exercism, contributing a significant proportion of support requests, making things more complex for our students, and hindering our ability to automatically run test-suites and provide automated analysis of solutions.

We believe that it’s essenti

[2019-08-05 10:45] #123 closed

[2019-09-03 07:13] sshine commented on #120
Fixed in #122.

[2019-09-03 07:13] #120 closed

[2019-10-03 11:58] ErikSchierboom opened #124 "What was it like to learn Standard ML?"
We’ve recently [started a project](https://exercism.io/blog/redesigning-tracks-in-partnership-with-chicago-university-and-sloan-foundation) to find the best way to design our tracks, in order to optimize the learning experience of students.

As a first step, we’ll be [examining the ways in which languages are unique and the ways in which they are similar](https://github.com/exercism/exercism/issue

[2020-01-09 14:57] kytrinyx opened #125 "Recruiting additional maintainers for Standard ML"
We're about to start a big push towards version 3 (v3) of Exercism. This is going to be a really exciting step forward for Exercism, with in-browser coding, new Concept Exercises with automated feedback, improved mentoring and much more.

This to be a big community effort, with the work spread out among hundreds of volunteers across Exercism. One key thing is going to be each track having enough m

[2020-01-09 18:52] k4rtik commented on #125
I would like to be a maintainer. I have worked on Exercism in the past and was a teaching assistant for a Programming Languages class taught at UChicago that uses SML for implementation. My handle is @k4rtik (same as GitHub).

[2020-01-09 21:26] sshine commented on #125
That is very interesting to hear, @k4rtik!

I was a TA in various FP and compiler courses at uni of Copenhagen (DIKU), which is also where I know sml from.

I'm an existing (passive) maintainer. I was the last to have a spree of activity as mentor and maintainer on this track. The bulk of the track's exercises were made by others, some of which are still subscribed.

SML never reached "v2" state,

[2020-01-09 21:51] k4rtik commented on #125
Hi @sshine, nice to meet you here!

The only thing I can say at this point is that it doesn't hurt to have similar exercises in different languages. It works for people learning how to solve exercises using programming and it also works for people trying to pick up another language without necessarily wanting to spend time on solving edge cases for the problems they have worked on before in a diff

[2020-01-10 06:52] sshine commented on #124
I'm going to close this issue in light of exercism/ocaml#369 and exercism/haskell#854 having received many answers that I consider transferrable to SML.

[2020-01-10 06:52] #124 closed

[2020-01-10 06:53] sshine commented on #8
Since this language track is no longer new, I am closing this issue.

Issues related to renewing the track to v2 or v3 will be handled elsewhere.

[2020-01-10 06:53] #8 closed

[2020-02-28 10:16] sshine commented on #111
This was fixed in #115, but later addressed as an issue and reverted in #117.

Closing this issue as the recommendation no longer applies.

[2020-02-28 10:16] #111 closed

[2020-02-28 10:21] sshine opened #128 "Travis CI: Bump Poly/ML from 5.7 to 5.8"
A new (March 2019) version of Poly/ML is available:

https://github.com/polyml/polyml/releases

An easy fix is to just update .travis.yml with this version bump.

A more laborious fix would be to somehow cache the compiled binary so that we don't build it every time Travis CI starts. Impressively, though, it still only runs for 49 seconds at this point in time, so perhaps it isn't really critical

[2020-02-28 10:23] sshine commented on #128
@k4rtik: If you're looking for a first contribution, here is a low-hanging fruit!

[2020-02-28 15:47] k4rtik commented on #128
Sure, please assign it to me.

[2020-03-03 10:51] sshine commented on #128
Feel free to choose your preferred scope and submit a pull request.

[2020-03-04 12:02] sshine commented on #114
I'm going to close this issue until a point in time when you wish to complete your Forth interpreter in SML, @snahor. Should this happen I look forward to looking at it!

[2020-03-04 12:02] #114 closed

[2020-03-04 12:03] sshine commented on #99
I'm closing this issue as all the initial checkboxes have been marked.

Further improvement is due, but after #129 we can say that we do have a v2 core track.

[2020-03-04 12:03] #99 closed

[2020-03-04 12:04] #72 closed

[2020-03-04 12:16] sshine commented on #125
@k4rtik: By the way, feel free to submit a pull request that adds you to config/maintainers.json in this repository, since it triggers some automation wrt. access control.. You are free to choose between `"show_on_website": true` or `"show_on_website": false`. I doubt that you'll get any unwanted attention from this.

[2020-04-18 16:01] #128 closed

[2020-04-22 12:26] sshine opened #134 "Consider using sml-pkg for our test-framework"
This was recently released: https://github.com/diku-dk/smlpkg

We might distribute our test framework, testlib.sml, using this package manager.

@mcmillhj, @snahor: Do you by any chance know the origin of testlib.sml? The commit history doesn't seem to go far enough back to tell me who has the copyright. It seems to have been either designed for Exercism or copied from some courseware.

[2020-04-22 12:59] mcmillhj commented on #134
Pretty sure that was something @snahor made from scratch, I had implemented an earlier version that was much less functional and it was replaced with this version.

[2020-05-07 17:15] snahor commented on #134
Yep, I created it from scratch. After that I created a repo for it
https://github.com/snahor/sml-test.

Hans Roman

Hans Roman

On Wed, 22 Apr 2020 at 07:59, Hunter McMillen <notifications@github.com> wrote:

[2020-10-15 08:34] ErikSchierboom opened #137 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to [GitHub Actions (GHA)](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Ex

[2020-10-22 06:45] ErikSchierboom commented on #137
Thanks to @SleeplessByte, we now have a really nice document and some starting workflows that you can use to help switch to GitHub Actions: https://github.com/exercism/problem-specifications/tree/master/workflows#workflow-templates

[2021-01-07 14:39] ErikSchierboom opened #139 "[Important] The current website is about to enter maintenance mode to aid with v3 launch"
**TL;DR;** At the end of Jan 2021, all tracks will enter v3 staging mode. Updates will no longer sync with the current live website, but instead sync with the [staging website](https://exercism.lol/). The Standard ML section of the v3 repo will be extracted and PR'd into this track (if appropriate). Further issues and information will follow over the coming weeks to prepare Standard ML for the lau

[2021-01-28 15:53] ErikSchierboom opened #140 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:54] ErikSchierboom commented on #140
As of today, the default branch of this repository has been changed to main.

[2021-01-29 09:25] ErikSchierboom commented on #139
As of today, the website has entered maintenance mode.

[2021-01-29 14:59] ErikSchierboom opened #142 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 14:59] ErikSchierboom opened #143 "Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 15:00] ErikSchierboom opened #144 "[v3] Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 15:00] ErikSchierboom opened #145 "[v3] Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 15:00] ErikSchierboom opened #146 "[v3] Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 15:00] ErikSchierboom opened #147 "[v3] Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 15:00] ErikSchierboom opened #148 "[v3] Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 15:00] ErikSchierboom opened #149 "[v3] Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 15:00] ErikSchierboom opened #150 "Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 15:00] ErikSchierboom opened #151 "[v3] Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [ ] [Configure online editor](https://github.com/exercism/sml/issues/142)
- [ ] [Add key features](https://github.com/exercism/sml/issues/143)
- [ ] [Add tags](https://github.com

[2021-02-10 08:42] ErikSchierboom commented on #146
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you keep this issue open until we let you know otherwise. The issue's text has been updated to reflect this.

[2021-02-10 09:14] ErikSchierboom commented on #145
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-05-20 11:59] #147 closed

[2021-05-21 18:10] #140 closed

[2021-06-30 12:00] #137 closed

[2021-06-30 14:50] ErikSchierboom commented on #144
Closing this as tags have been defined for this track.

[2021-06-30 14:50] #144 closed

[2021-07-02 09:50] exercism-bot opened #172 "🤖 Sync error for commit 7a5e0e"
We hit an error trying to sync the latest commit (7a5e0e4328078adcfed59d981e70f8144d13790e) to the website.

The error was:
[code]

Please tag @iHiD if you require more information.

[2021-07-02 11:10] #172 closed

[2021-07-14 13:32] ErikSchierboom opened #177 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:32] ErikSchierboom opened #178 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-08-18 10:04] ErikSchierboom commented on #150
Closing this as this track has no (active) Concept Exercises

[2021-08-18 10:04] #150 closed

[2021-08-18 14:44] ErikSchierboom opened #179 "Build analyzer"
In Exercism v3, we are making increased use of our v2 [analyzers](https://github.com/exercism/docs/blob/main/building/tooling/analyzers/README.md). Analyzers automatically assess student's submissions and provide mentor-style commentary. They can be used to catch common mistakes and/or do complex solution analysis that can't easily be done directly in a test suite.

Each analyzer is track-specific

[2021-08-18 14:44] ErikSchierboom opened #180 "Build representer"
In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/docs/blob/main/building/tooling/representers/README.md). The goal of the representer is to take a solution and returning a representation, which is an extraction of a solution to its essence with normalized names, comments, spacing, etc. but still uniquely identifying the approach taken. Two diff

[2021-08-19 12:50] #177 closed

[2021-08-19 12:50] #178 closed

[2021-08-20 10:50] ErikSchierboom opened #182 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-09-02 13:11] #125 closed

[2021-09-02 13:18] ErikSchierboom commented on #139
With Exercism v3 [just being released](https://exercism.org/blog/exercism-v3-has-launched), tracks are no longer in maintenance mode and are active again.
This means that changes made to this track will once again show on the website.

Thanks for being patient with us and enjoy Exercism v3!

[2021-09-02 13:18] #139 closed

[2022-04-02 07:00] kotp opened #195 "Generating exercises currently requires online connection."
While reviewing `bin/generate` updates in April 2022, I noticed that I could not rely on my local clone of problem-specifications but instead it hit the internet, which is highly unreliable, it is a dependency that is unnecessary.  Instead, we should be working from local resources first, before needing to go out for the information.

`[binary]: <urlopen error [Errno -3] Temporary failure in name

[2022-04-02 10:42] Rainij commented on #195
I was surprised by that too. I wanted to add a test case to one of the sml exercises. The official way requires to add it to the corresponding `canonical-data.json` in the `problem-specifications` repo. Then one may pull in this new test-case by the `bin/generate` script. To test if the new test cases works I had to modify `bin/generate` temporarily to load my modified version of `canonical-data.j

[2022-04-02 15:59] kotp commented on #195
It is possible and allowed for the tracks to add or not use tests from `canonical-data.json`, and even to have exercises for a track without having it in canonical-data.json if it is an exercise that is specifically suited for a language, or a concept exercise.

* * *

I think the locations should look like this:

[code]

You can look at other repositories to see how this is referenced in regards

[2022-04-03 07:05] Rainij commented on #195
Thanks for the clarifications @kotp . If nobody else opens a PR on this I try to do it by end of April.

[2022-04-03 08:21] rainij opened #196 "Bad Makefile target "gha""
I propose to replace the `Makefile` target `gha` by something more straightforward. Main reason: it is complicated and *seems to be* unreliable (see below), and hard to understand (my opinion). Moreover I think it would be better to run all tests on a pull request and merge (This seems to be not the case right now).

A possible (straightforward) solution might be (essentially) to replace `make gha

[2022-04-20 01:13] kotp commented on #196
Thank you for the observations.  I wanted to let you know that the issue is seen, and I also wanted to let you know that I appreciate the thoughts on the abbreviation `gha` as a name.  Without it being defined on first use, it can be very confusing to know what that is without prior knowledge.  At least using the full name in some way will let someone research it for more information with less tro

[2022-04-21 23:59] kotp commented on #196
If this is "per organization" then collectively it may may sense to optimize for time necessary to keep within limits.

[2022-04-22 09:37] ErikSchierboom commented on #196
I like the suggestion of just dropping the `gha` target entirely if it is causing issues. It would need to be removed in two places for CI to work correctly:

https://github.com/exercism/sml/blob/main/.github/workflows/ci.yml
https://github.com/exercism/sml/blob/main/.github/workflows/ci-pull-request.yml

Note: I'm not opposed to the `gha` target being fixed, but I don't know how to do that. We _c

[2022-04-24 13:14] Rainij commented on #196
I'm for replacing `gha` by `test` in the files mentioned by @ErikSchierboom too.

Concerning deleting vs fixing `gha`: It would be nice if somebody could tell the intent of the target. I do not mean to ask what it does, I mean who or what benefits from it? If nobody has a reason to keep it I would vote for deleting it. Not sure whom to ask.

[2022-04-25 11:11] ErikSchierboom commented on #196
I think the goal of that target is to only run the tests for any exercises that have changed within the PR.

[2022-04-25 14:54] Rainij commented on #196
@ErikSchierboom yes I know (or at least also think) that this is what `gha` does. My questions goes into the direction "who needs it, and does it more confuse then to help". I would never rely on that target if I did any changes anywhere. I would always try to run all tests to check if something is broken. Single tests can also be run with `make test-<name of exercise>`, which is necessary too for

[2022-04-26 06:18] ErikSchierboom commented on #196
I'd vote for:

- Replace `gha` by `test`
- Remove the `gha` target (we can always restore it later)

[2022-05-06 16:14] Rainij commented on #134
I would like to add one observation to the discussion. While working on this https://github.com/exercism/sml/pull/199 PR I observed that when a test fails with an "unexpected" exception, then the test-script does not exit with a non-zero exit code. Hence it looks like all tests run fine although this isn't true.

In that particular case, the test for the exercise "binary" imported `example.sml` (w

[2022-06-01 23:45] kotp opened #203 "Contributor document"
It looks like the CONTRIBUTOR document may be missing (or I just did not see it).  It should describe the track maintenance and contribution guidelines for this track.  It should also describe the reliance on Python (and which version) in order to use the tooling available in `bin/`.

[2022-06-01 23:56] kotp commented on #203
Well, a reference to the contribution guidelines, as I think those are included or referenced in the repository itself.

[2022-06-01 23:57] kotp commented on #195
Thank you, @rainij I reviewed it.  Added another issue related to the executable as well, in terms of what is required to run it.

[2022-06-02 12:38] rainij commented on #196
I close this because the issue is resolved by merge of https://github.com/exercism/sml/pull/199.

[2022-06-02 12:38] #196 closed

[2022-06-02 13:26] rainij opened #204 "Discussion: Re-Implement code-generation for test-cases"
I feel that the current code-generator for the test-cases (`bin/generate`) is really hard to read. I observed this in a previous PR (https://github.com/exercism/sml/pull/193) where I had to adjust some things to make the code generator work again. **I propose a re-implementation of the code-generator.**

I would like to use this issue to decide if this would be a good move (as already said: I thin

[2022-06-02 14:39] ErikSchierboom commented on #204
Sure. There are definitely other tracks that generate their code (I've written two generators: one for C# and one for F#).
Here are links to some implementations:

- C#: https://github.com/exercism/csharp/tree/main/generators
- F#: https://github.com/exercism/fsharp/tree/main/generators
- Elixir: https://github.com/exercism/elixir/blob/b7b5ad1a1e1aa6be2b1c82372899ff9571a2c9c5/bin/bootstrap_practic

[2022-06-02 14:43] kotp commented on #204
The Ruby track uses Ruby to generate the code, I believe Python uses Python to generate their code.  It would be good for the language track, where practical, to use the language of the track (because those that maintain are likely going to be familiar with that track language).  But I know sometimes that is not practical, and it is easier to do in another language. Imagine writing a test generato

[2022-06-02 18:07] rainij commented on #204
@ErikSchierboom the thing with python is that the sml-track already uses python (for the current generator). The only minor additional complication is that `jinja2` is not in the standard-library. So installing python is already required by now. At least on linux `jinja2` could be conveniently installed in a virtual-environment (generated by `python -m venv <some-folder-name>`). I suppose on Windo

[2022-06-02 19:15] kotp commented on #204
I would not consider the requirement to install python a "feature" though.  It is another dependency that for the track may be something we do want to do away with.  It would be similar if I had taken the time to write a generator in Ruby for the track, but would encourage and understand the want to move to an SML solution.

We have plenty of people that have backgrounds in different languages, bu

[2022-06-02 19:46] rainij commented on #204
@kotp ok sounds reasonable to me. For the reason you mention but probably also from a didactic point of view. And it is good to point out that it is desired to use the language of the track everywhere (where it makes sense). I did not know that, I just took the setting with python (and this strange Makefile) for granted.

I definitely will have a look if the generator could be rewritten in SML (Po

[2022-06-02 19:52] kotp commented on #204
Bash is available for Windows™, in various forms.

[2022-06-02 20:28] kotp commented on #204
In my opinion, the preference would be:

1. the language of the track
2. the language that many tracks use, if it is not the same language as the track

I always used `batch` programming on Windows, when I was doing that sort of thing every day.  But my knowledge of what is common on Windows is not up-to-date, not even close, by decades.

[2022-06-03 00:19] sshine commented on #134
I’m not involved, but I can give an assessment.

smlpkg depends in the MLB format which is used by SML/NJ, [MLton](http://mlton.org/), [MLKit](http://elsman.com/mlkit/), and [SMLtoJs](http://www.smlserver.org/smltojs/).

Since this track uses Poly/ML, which does not support the MLB format, you would either need to replace the compiler/repl to one that does, or add support for the MLB format in Pol

[2022-06-03 16:15] rainij commented on #134
@sshine thanks for your very detailed feedback! I will keep these things in mind.

[2022-06-07 05:19] ErikSchierboom commented on #204
@rainij For Windows, we provide a PowerShell version of the fetch-configlet script: https://github.com/exercism/configlet/blob/main/scripts/fetch-configlet.ps1

[2022-06-11 13:45] guygastineau commented on #134
@rainij I am interested in being more involved here.  I am currently doing some necromancy in the scheme track.  Between that and work my availability could be spotty though.  In the past I modified the test suite for portability across SML implementations, but the test generator would need modifications.  I don't want to edit python while working on the SML track, so I looked into rewriting the t

[2022-06-11 14:10] rainij commented on #134
@guygastineau no I am no maintainer but I am interested in being involved here too. I also opened some PRs in the past (mainly due to the fact that the repo was getting not working anymore).

Concerning the test generator I opened an issue for improving/correcting the test generator (see https://github.com/exercism/sml/issues/204). Initially I just wanted to re-implement it in Python again. But ou

[2022-06-11 15:46] guygastineau commented on #134
@rainij cool.  I have a local branch where I pull in the best JSON library I could find for SML as a git submodule.  I'll see if I can get some minimal-like reproduction of the current generator.  I'll stop talking about it from here for now.  After a little bit of real work is done on it I will make a WIP PR, so you can check out my work.

[2022-06-11 16:02] guygastineau commented on #134
Concerning sml-pkg though...

It looks good.  The author of the best JSON parsing lib for SML that I have found is the author for sml-pkg too I believe.  I don't think it will work with Poly/ML out of the box though.  Honestly, I haven't been doing much SML in the past 10 months, but I migrated from poly to smlnj and mlton in my personal projects.  My last several projects were all set up, so I co

[2022-06-11 16:42] rainij commented on #204
@guygastineau we already talked about this issue here https://github.com/exercism/sml/issues/134. It would be nice if you could quickly recall your proposal here (just to have it at the right place) - the thing with the json lib, submodules and thoughts about alternatives to polyml. It sounds good too me, but maybe somebody here has some further suggestions.

If you could implement it, I would be

[2022-06-11 19:48] guygastineau commented on #204
Certainly, I used the testlib.sml from this track as a quick test library for helping a friend test their SML homework using SMLNJ.  I didn't have to change much.  I just made a generic test function with dependency injection to allow custom comparison and printing functions to be supplied.  This let me drop the `PolyML.makestring` calls in `equalTo`.  That is the only thing making the test suite

[2022-06-12 22:23] guygastineau commented on #110
Oh, hah, I found this discrepancy in the tests from my other work on #206 and #205.  I guess I have done everything except for the final step.  Maybe I should add a script and CI action to verify the checksums of all testlib.sml files to #206 in order to satisfy this issue entirely.

[2022-06-12 22:34] guygastineau commented on #110
@sshine Do you think our current implementation of  `nearTo` is good enough, or should we use the full example you posted in the linked post?  I don't really care enough to scrutinize their differences too much.  FWIW, `nearTo` as it is in the `testlib.sml` for space age is immediately obvious.

[2022-06-14 07:15] ErikSchierboom commented on #204
Is a git submodule necessary? Not that I object to that, but git submodules are not always intuitive to work with, especially for any potential contributors. The library's page mentions that the sml package manager can also be used: https://github.com/diku-dk/sml-json#use-of-the-package Is that an option?

This is likely just fine. I'd recommend a nice error message when curl could not be found an

[2022-06-14 11:09] guygastineau commented on #204
@ErikSchierboom I have some reservations about using git submodules for it too.  I have to use them frequently, but they can be a pain with less experience.

I think I mistook part of the sml-pkg documentation to mean it requires using `.mlb` (used by mlton and MLK it), but on a second reading of their docs I think that is not the case.  I will look into using it for dependency management.

[2022-06-16 13:21] guygastineau opened #207 "Can we cache the SML build for the CI?"
We are downloading and rebuilding a specific version of `poly` every time we run the CI.  It only takes about 1.5 minutes, but our CI would be almost instantaneous without this step.  Is there some way to cache it?
![2022-06-16_09:18:42_selected](https://user-images.githubusercontent.com/38230885/174079064-7667375f-66fd-401d-8559-c0cdc248c136.png)

[2022-06-17 06:58] ErikSchierboom commented on #207
What you could do, is to use the `exercism/sml-test-runner` image and run the tests within that, as it will contain the SML setup. Additional benefit: this would be a proper integration test.

For an example on how to do this, see the AWK test runner:

- https://github.com/exercism/awk-test-runner/blob/main/.github/workflows/ci.yml
- https://github.com/exercism/awk-test-runner/blob/main/bin/run-te

[2022-06-21 15:23] rainij commented on #125
@ErikSchierboom if I am not mistaken there is currently no community maintainer for the sml-repo. Is that right?

In any case, I would like to become a maintainer, at least for the next six month. Besides adding a few new exercises I would also look into issues as I have already done before. Depending on the number of PRs I could also review some of them. I think *on average* I can spend 2h per we

[2022-06-21 15:36] k4rtik commented on #125
It's probably right. At least, I was not able to contribute while the transition to v3 was happening. And I will not have more time in the foreseeable future.

[2022-06-22 06:22] ErikSchierboom commented on #125
@rainij You've done great work, so I think you'll fit well as a maintainer. @iHiD could you add @rainij to the `sml` team?

[2022-06-22 10:58] iHiD commented on #125
Done. Thank you @rainij!

[2022-06-23 02:22] guygastineau commented on #204
I have been working on this some, but I got side-tracked with other PRs and work.  I also got all excited and implemented streaming MD5 in native SML for #110, but my digests are coming out wrong :/

Anyway, maybe smlpkg doesn't really require using .mlb files.  I think a lot of libraries are distributed with .mlb and maybe .cm files.  Recently, I am continuing work where everything can be built u

[2022-06-23 02:45] guygastineau commented on #207
It looks to me like the AWK tests are still installking `gawk` in the container every time unless I am missing something https://github.com/exercism/awk/blob/main/.github/workflows/ci.yml

I read the [dockerfile](https://github.com/exercism/sml-test-runner/blob/main/Dockerfile) for exercism/sml-test-runner, but if the image is not pushed to dockerhub I am not sure how to use it from the ci.yml her

[2022-06-23 02:48] guygastineau commented on #207
FWIW, polyml is available in the official community repository for arch linux.  Maybe that would simplify the docke files... of course, it is a slightly newer version of polyml.

[2022-06-23 02:55] guygastineau commented on #207
Oh, interesting, ubuntu 22.04 appears to have polyml, but it is one minor version behind what we build and install whereas arch linux is one minor version ahead.

[2022-06-23 07:53] ErikSchierboom commented on #207
It is automatically pushed each time a commit is made to the main branch: https://github.com/exercism/sml-test-runner/runs/6405331000?check_suite_focus=true

Looks like they changed things around a bit. A better example: https://github.com/exercism/abap/blob/main/.github/workflows/test.yml and https://github.com/exercism/abap/blob/main/bin/test

[2022-06-23 11:52] guygastineau commented on #207
Ah, thank you for the clarifications.  I will try to set it up.

[2022-07-01 21:09] kotp commented on #195
I think this is done.  Closing it.

[2022-07-01 21:09] #195 closed

[2022-11-04 13:35] dapritchard opened #214 "Planets are out of order in the datatype declaration for space-age"
`two-fer.sml` has the following datatype declaration.
[code]
However, the `Neptune` and `Uranus` variants are out of order in terms of the ordering of the planets in distance from the sun, as well as the ordering in the corresponding `instructions.md` from top to bottom of the page.

I was carelessly copy/pasting lines of code based on the order of planets in the datatype declaration and ended up

[2022-11-27 19:04] rainij commented on #214
@dapritchard thanks for reporting this. I will take care of this.

[2022-11-27 20:00] rainij commented on #207
I will have time for this soon.

[2022-11-28 06:26] ErikSchierboom commented on #207
@rainij In case you hadn't seen it, please read this forum post that I wrote about speeding up CI (you might be able to apply its lessons here too): https://forum.exercism.org/t/speeding-up-test-runner-ci-runs/927/1

[2022-11-29 20:27] #214 closed